@using Newtonsoft.Json
@model Infozdrav.Web.Models.Trbovlje.OrderCatalogArticleFullViewModel

@{
    ViewBag.Title = "Naročilo artikla";
    Layout = "_Layout";

    string dateFormat = "short";
}

<h2>@ViewBag.Title</h2>

<div class="">
    <div class="row">
        <div class="col-lg-6">
            <label asp-for="@Model.Id">Id artikla</label>
            <input asp-for="@Model.Id" class="form-control" type="text" readonly />

            <label asp-for="@Model.CatalogArticle.Name">Kataloško ime artikla</label>
            <input asp-for="@Model.CatalogArticle.Name" class="form-control" type="text" readonly />

            <label asp-for="@Model.UrgencyDegree">Stopnja nujnosti</label>
            <input asp-for="@Model.UrgencyDegree" class="form-control" type="text" readonly />

            <label asp-for="@Model.Quantity">Količina</label>
            <input asp-for="@Model.Quantity" class="form-control" type="text" readonly />

            <label asp-for="@Model.CatalogArticle.Price">Cena/enoto</label>
            <input asp-for="@Model.CatalogArticle.Price" class="form-control" type="text" readonly />

            @*<label asp-for="@Model.TotalPrice">Končna cena</label>
                <input asp-for="@Model.TotalPrice" class="form-control" type="text" readonly />*@

            <label asp-for="@Model.Note">Opomba</label>
            <textarea asp-for="@Model.Note" class="form-control" type="text" readonly></textarea>
        </div>
        <div class="col-lg-6">
            <label asp-for="@Model.ReceptionTime">Datum vpisa naročila</label>
            <input asp-for="@Model.ReceptionTime" class="form-control" type="text" readonly />

            <label asp-for="@Model.ReceptionUser.Email">Vpisal</label>
            <input asp-for="@Model.ReceptionUser.Email" class="form-control" type="text" readonly />

            @*<label asp-for="@Model.ConfirmedUser.Email">Potrdil</label>
                <input asp-for="@Model.ConfirmedUser.Email" class="form-control" type="text" readonly />

                <label asp-for="@Model.ConfirmedTime">Datum potrdila naročila</label>
                <input asp-for="@Model.ConfirmedTime" class="form-control" type="text" readonly />*@

        </div>
    </div>
</div>

<br />
<a href="@Url.Action("Index")" class="btn btn-primary">Nazaj</a>
