@using Infozdrav.Web.Data
@model Infozdrav.Web.Models.Trbovlje.BufferViewModel

@{
    ViewBag.Title = "Dodaj pufer";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Naziv pufra</label>
        <input asp-for="Name" type="text"
               data-val-required="Potrebno je vnesti naziv pufra."
               class="form-control" id="name" placeholder="Vnesi naziv pufra">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>

        <label asp-for="ArticleId">Artikel</label>
        <br />
        @(Html.DropDownList("ArticleId", Model.Articles))
        <span class="form-text text-danger text-muted" asp-validation-for="ArticleId"></span>
        <br />

        <label asp-for="UseByDate">Rok uporabe</label>
        <input asp-for="UseByDate" type="date"
               min="@DateTime.Today.ToString("yyyy-MM-dd")"
               data-val-required="Potrebno je vnesti rok uporabe."
               class="form-control" id="UseByDate">
        <span class="form-text text-danger text-muted" asp-validation-for="UseByDate"></span>

        <label asp-for="Note">Opombe</label>
        <input asp-for="Note" type="text"
               class="form-control" id="Note">

        <label asp-for="StorageTypeId">Način shranjevanja</label>
        <br />
        @(Html.DropDownList("StorageTypeId", Model.StorageTypes))
        <span class="form-text text-danger text-muted" asp-validation-for="StorageTypeId"></span>
        <br />

        <label asp-for="StorageLocationId">Mesto shranjevanja</label>
        <br />
        @(Html.DropDownList("StorageLocationId", Model.StorageLocations))
        <span class="form-text text-danger text-muted" asp-validation-for="StorageLocationId"></span>
        <br />

        <label asp-for="WorkLocationId">Delovna lokacija</label>
        <br />
        @(Html.DropDownList("WorkLocationId", Model.WorkLocations))
        <span class="form-text text-danger text-muted" asp-validation-for="WorkLocationId"></span>
        <br />

        <label asp-for="AnalyserId">Analizator</label>
        <br />
        @(Html.DropDownList("AnalyserId", Model.Analysers))
        <span class="form-text text-danger text-muted" asp-validation-for="AnalyserId"></span>
        <br />

    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">Nazaj</a>
</form>
