@model List<Infozdrav.Web.Models.Trbovlje.BufferViewModel>

@{
    ViewBag.Title = "Pufri";
    Layout = "_Layout";

    string dateFormat = "short";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Add")"
   class="btn btn-primary">Dodaj pufer</a>
<br/>

<script id="actions" type="text/x-template">
    <a href="@Url.Action("Buffer")/${Id}"
       class="btn btn-primary">Uredi</a>
    <a href="@Url.Action("Remove")/${Id}"
       class="btn btn-primary">Odstrani</a>
</script>

<ejs-grid id="grid" dataSource=@Model allowPaging="true" showColumnMenu="true">
    <e-grid-columns>
        <e-grid-column field="Name" headerText="Ime" textAlign="Right" width="100"></e-grid-column>
        <e-grid-column field="UseByDate" headerText="Rok Uporabe" format="@dateFormat" width="50"></e-grid-column>
        <e-grid-column field="Note" headerText="Opombe" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="StorageType" headerText="Način shranjevanja" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="StorageLocation" headerText="Mesto shranjevanja" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="WorkLocation" headerText="Delovna lokacija" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Analyser" headerText="Analizator" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Id" textAlign="Right" headerText="Actions" template="#actions" width="150"></e-grid-column>
    </e-grid-columns>
</ejs-grid>