@{
    ViewData["Title"] = "Trbovlje 'dashboard'";
}
<h2>@ViewData["Title"]</h2>

<a href="@Url.Action("", "WorkLocation")"
   class="btn btn-primary">WorkLocation</a>
<a href="@Url.Action("", "Analyser")"
   class="btn btn-primary">Analyser</a>
<a href="@Url.Action("", "Article")"
   class="btn btn-primary">Article</a>
<a href="@Url.Action("", "CatalogArticle")"
   class="btn btn-primary">CatalogArticle</a>
<a href="@Url.Action("", "Manufacturer")"
   class="btn btn-primary">Manufacturer</a>
<a href="@Url.Action("", "StorageLocation")"
   class="btn btn-primary">StorageLocation</a>
<a href="@Url.Action("", "StorageType")"
   class="btn btn-primary">StorageType</a>
<a href="@Url.Action("", "Supplier")"
   class="btn btn-primary">Supplier</a>
<a href="@Url.Action("", "Laboratory")"
   class="btn btn-primary">Laboratory</a>
<a href="@Url.Action("", "Buffer")"
   class="btn btn-primary">Buffer</a>