@model Infozdrav.Web.Models.Labena.SprejemVzorcevViewModel
@{
    ViewData["Title"] = "Sprejem";
}

<h2>Sprejem</h2>

<form asp-action="Sprejem" method="post">
    <div class="form-group">

        <!-- shranimo iz tega, kdo je vpisan
        <label asp-for="SupplierId">Id prejemnika</label>
        <input asp-for="SupplierId" type="text" data-val-required="Potreben je vnos Id prejemnika"
               class="form-control" id="SupplierId" placeholder="Vnesi Id prejemnika"/>
        <span class="form-text text-danger text-muted" asp-validation-for="SupplierId"></span>
        <!-- TODO: AutoComplete dropdown using JQuery -->
        <br/>

        <label asp-for="DateOfReception">Datum prejema</label>
        <input asp-for="DateOfReception" type="date"
               min="@DateTime.Today.ToString("yyyy-MM-dd")"
               data-val-required="Potreben je vnos datuma prejema."
               class="form-control" id="DateOfReception">
        <span class="form-text text-danger text-muted" asp-validation-for="DateOfReception"></span>

        <!-- <h4>Naročnik</h4> -->
        <label asp-for="SupplierName">Naročnik</label>
        @Html.DropDownList("SupplierName",
            new SelectList(ViewBag.suppliers),
            "Izberi naročnika",
            new {@class = "form-control"})
        
        <a href="@Url.Action("DodajanjeNarocnikov")" class="btn btn-primary">Dodaj naročnika</a><br/>

        <label asp-for="ContactName">Kontaktna oseba</label>
        @Html.DropDownList("ContactName",
            new SelectList(ViewBag.people),
            "Izberi ime kontaktne osebe",
            new {@class = "form-control"})
        <a href="@Url.Action("DodajanjeKontaktov")" class="btn btn-primary">Dodaj kontaktno osebo</a><br/>

    </div>

    <button type="submit" class="btn btn-primary">Shrani sprejem</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">
        Prekliči
    </a>
</form>