
@{
    ViewData["Title"] = "Vnos rezultatov";
}

<h2>Vnos rezultatov</h2>

<a href="@Url.Action("RezultatiCfDna")"
   class="btn btn-primary">cfDNA</a>
<a href="@Url.Action("RezultatiDna")"
   class="btn btn-primary">DNA</a>
<a href="@Url.Action("RezultatiRna")"
   class="btn btn-primary">RNA</a>
<a href="@Url.Action("RezultatiProteini")"
   class="btn btn-primary">proteini</a>
<a href="@Url.Action("RezultatiCelice")"
   class="btn btn-primary">celice</a>
<a href="@Url.Action("RezultatiSerum")"
   class="btn btn-primary">serum</a>
<a href="@Url.Action("RezultatiPlazma")"
   class="btn btn-primary">plazma</a>
   