@model List<Infozdrav.Web.Models.Trbovlje.ArticleTableViewModel>

@{
    Layout = "_Layout";

    string dateFormat = "short";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Trbovlje", "Dashboard")"
   class="btn btn-primary">Nazaj na nadzorno ploščo</a>
<br />

<script id="actions" type="text/x-template">
    <a href="@Url.Action((string)ViewBag.Action)/${Id}"
       class="btn btn-primary">@ViewBag.ActionName</a>
</script>


<ejs-grid id="grid" dataSource="@Model" allowPaging="true" allowResizing="true" allowGrouping="true" allowFiltering="true" allowSorting="true" width="1337" allowTextWrap="true" showColumnMenu="true" dataBound="dataBound" >
    <e-grid-columns>
        <e-grid-column field="Id"></e-grid-column>
        <e-grid-column field="Lot" minWidth="10"></e-grid-column>
        <e-grid-column field="CatalogArticle.Name" headerText="Kataloško ime" minWidth="100"></e-grid-column>
        <e-grid-column field="UseByDate" headerText="Rok Uporabe" format="@dateFormat" minWidth="120"></e-grid-column>
        @*<e-grid-column field="ReceptionTime" headerText="Datum sprejema" format="@dateFormat" minWidth="200"></e-grid-column>*@
        <e-grid-column field="NumberOfAvailableUnits" headerText="Št. enot" textAlign="Center"></e-grid-column>
        @*<e-grid-column field="Note"></e-grid-column>*@
        <e-grid-column field="StorageType.Name" headerText="Tip hrambe" minWidth="120"></e-grid-column>
        <e-grid-column field="StorageLocation.Name" headerText="Lokacija" minWidth="100"></e-grid-column>
        <e-grid-column field="WorkLocation.Name" headerText="Delovno mesto" minWidth="150"></e-grid-column>
        <e-grid-column field="Analyser.Name" headerText="Analizator" minWidth="130" ></e-grid-column>
        @* TODO: Files *@
        <e-grid-column headerText="Akcija" template="#actions" ></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script>
    function dataBound(args) {
        this.autoFitColumns();
    }
</script>