@using Infozdrav.Web.Data
@using Infozdrav.Web.Data.Trbovlje
@model Infozdrav.Web.Models.Trbovlje.CatalogArticleFullViewModel

@{
    ViewBag.Title = "Artikel v katalogu";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="">
    <div class="row">
        <div class="col-lg-6">
            <label asp-for="@Model.Id">Id artikla</label>
            <input asp-for="@Model.Id" class="form-control" type="text" readonly />

            <label asp-for="@Model.Name">Ime artikla</label>
            <input asp-for="@Model.Name" class="form-control" type="text" readonly />

            <label asp-for="@Model.CatalogNumber">Kataloška številka</label>
            <input asp-for="@Model.CatalogNumber" class="form-control" type="text" readonly />

            <label asp-for="@Model.Price">Cena/enoto (€)</label>
            <input asp-for="@Model.Price" class="form-control" type="text" readonly />

            <label asp-for="@Model.Manufacturer">Proizvajalec</label>
            <input asp-for="@Model.Manufacturer" class="form-control" type="text" readonly />

            <label asp-for="@Model.Supplier">Dobavitelj</label>
            <input asp-for="@Model.Supplier" class="form-control" type="text" readonly />

            <label asp-for="@Model.UseByDaysLimit">Opozorilo x dni pred potekom roka uporabe</label>
            <input asp-for="@Model.UseByDaysLimit" class="form-control" type="text" readonly></textarea>
        </div>
    </div>
</div>

<br />
<a href="@Url.Action("Index")" class="btn btn-primary">Nazaj</a>
