@using Infozdrav.Web.Data
@using Infozdrav.Web.Data.Trbovlje
@model Infozdrav.Web.Models.Trbovlje.CatalogArticleEditViewModel

@{
    ViewBag.Title = "Uredi artikel v katalogu";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Naziv artikla</label>
        <input asp-for="Name" type="text"
               data-val-required="Potrebno je vnesti naziv artikla."
               class="form-control" id="name" placeholder="Vnesi naziv artikla">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>

        <label asp-for="CatalogNumber">Kataloška številka artikla</label>
        <input asp-for="CatalogNumber" type="number"
               data-val-required="Potrebno je vnesti kataloško številko artikla"
               class="form-control" id="catalogNumber" placeholder="Vnesi kataloško številko artikla">
        <span class="form-text text-danger text-muted" asp-validation-for="CatalogNumber"></span>

        <label asp-for="ArticleType">Tip artikla</label>
        <br />
        @Html.DropDownListFor(m => m.ArticleType, @Html.GetEnumSelectList(typeof(ArticleType)), "Izberi tip artikla", new { @class = "form-control" })
        <br />

        <label asp-for="Price">Cena artikla (€/enota)</label>
        <input asp-for="Price" type="text"
               data-val-required="Potrebno je vnesti ceno artikla."
               class="form-control" id="price" placeholder="Vnesi ceno artikla">
        <span class="form-text text-danger text-muted" asp-validation-for="Price"></span>

        <label asp-for="UseByDaysLimit">Opozori x dni pred pretekom roka uporabe</label>
        <input asp-for="UseByDaysLimit" type="number"
               data-val-required="Potrebno je vnesti opozorilo pred pretekom roka uporabe."
               class="form-control" id="UseByDaysLimit" placeholder="Vnesi opozorilo pred pretekom roka uporabe">
        <span class="form-text text-danger text-muted" asp-validation-for="UseByDaysLimit"></span>


        <label asp-for="ManufacturerId">Proizvajalec</label>
        <br />
        @Html.DropDownListFor(m => m.ManufacturerId, Model.Manufacturers, "Izberi proizvajalca", new { @class = "form-control" })
        <span class="form-text text-danger text-muted" asp-validation-for="ManufacturerId"></span>
        <br />

        <label asp-for="SupplierId">Dobavitelj</label>
        <br />
        @Html.DropDownListFor(m => m.SupplierId, Model.Suppliers, "Izberi dobavitelja", new { @class = "form-control" })
        <span class="form-text text-danger text-muted" asp-validation-for="SupplierId"></span>
        <br />

    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">Prekliči</a>
</form>
